@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
  color: var(--color-text);
}

a {
  color: var(--color-heading);
  text-decoration: none;
  transition: opacity 0.5s;
}

h1 {
  font-size: 4rem;
  color: var(--color-heading);
}

@media (hover: hover) {
  a:hover {
    opacity: 60%;
  }
}
